body {
  margin: 0;
  font-family: Sans-Serif;
  background-color: rgba(44, 45, 48, 0.979);
  color: white;
}

a {
  text-decoration: none;
}

p {
  font-size: calc(0.9em + 1vmin);
}

small {
  display: block;
}

.mountain {
  vertical-align: middle;
  max-height: 100%;
  display: inline-block;
  object-fit: contain;
}

.cloud-top{
  margin-left: 25%;
  padding-top: 2%;
}

.cloud-bottom {
  margin-right: 25%;
  padding-left: 2%;
}


.top-content {
  background-color: #232423;
  text-align: center;
  height: 10%;
  max-height: 100%;
  margin: auto;
  overflow: hidden;
  font-size: 2rem;

}

#avatar1 {
  border-radius: 50%;
  width: 10vw;
  margin-top: 2vw;
}

#avatar2 {
   border-radius: 50%;
  width: 8vw;
  position: absolute; 
  right: 15%;

}

.heading {
  height: 10%; 
}

.title {
  font-size: 4rem;
  font-weight: bold;
}

.middle {
  text-align: center;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0%
}

.breaker {
  margin: auto;
  max-width: 100px;
  word-spacing: 50%;
  padding-bottom: 5%;
}

.breaker2 {
  margin: auto;
  max-width: 100px;
  word-spacing: 50%;
  padding-bottom: 2%;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.text-left {
  text-align: left;
}

.feature1 {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.feature2 {
  text-align: center;
  padding-bottom: 2%;
}

.skillsImage {
  height: 100px;
  width: 100px;
}

.icons {
  height: 30px; 
  width: 40px;
  padding-left: 2%;
  
}
/* 
#azure {
  width: 15%;
  height: 8vw;
} */

#node {
  height: 60%;
  padding-top: 2.5vw;
}

#css {
  height: 75%;
}

.width {
  width: 10%;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2%;
}



.center {
  text-align: center;
}

.padding-top {
  padding-top: 5vh;
}

.max-width{
  max-width: 100%;
}

.display-block {
  display: block;
}

.portfolio-icons {
  height: 35vh;
  width: 25vw;
}

.overflow {
  overflow: hidden;
}

footer {
  background-color:  #D3EBCD;
  text-align: center;
}


.justify-content {
  display: flex;
  justify-content: space-around;
}

.flex-container {
  display: flex;
  /* align-items: baseline; */
  justify-content: space-around;
  row-gap: 100px;
}


.green {
  background-color: #232423;
  color: white;
}

.green a {
  color: white;
}

.mobile-skills {
  display: none;
}

@media (max-width: 800px) {
  .portfolio {
    flex-direction: column;
  }

  .portfolio-icons {
    text-align: center;
    height: 30vh;
    width: 90vw;
  }

  #avatar2 {
 
    right: 5vw;
  }

  .justify-content {
    display: flex;
    justify-content: center;
    flex: 10%;
  }

  .mobile-skills {
    display: block;
  }

  .desktop-skills {
    display: none;
  }

  #avatar1 {
    width: 20vw;
  }

  #avatar2 {
    width: 11vw;
  }

}

